<table class="table">
  <thead>
    <tr>
      <th scope="col">Shop</th>
      <% if @subscribed_in_asc %>
        <th><%= link_to "Subscribed In", shops_path(sort_subscribed_in: 'desc', month: @month_param), style: 'text-decoration: none; color: black' %> </th>
      <% else %>
        <th><%= link_to "Subscribed In", shops_path(sort_subscribed_in: 'asc', month: @month_param), style: 'text-decoration: none; color: black' %> </th>
      <% end %>
      <% if @earnings_asc %>
        <th><%= link_to "Net Earnings", shops_path(sort_earnings: 'desc', month: @month_param), style: 'text-decoration: none; color: black' %> </th>
      <% else %>
        <th><%= link_to "Net Earnings", shops_path(sort_earnings: 'asc', month: @month_param), style: 'text-decoration: none; color: black' %> </th>
      <% end %>
      <% if @payments_asc %>
        <th><%= link_to "Payments", shops_path(sort_payments: 'desc', month: @month_param), style: 'text-decoration: none; color: black' %> </th>
      <% else %>
        <th><%= link_to "Payments", shops_path(sort_payments: 'asc', month: @month_param), style: 'text-decoration: none; color: black' %> </th>
      <% end %>
      <% if @avg_payments_asc %>
        <th><%= link_to "Avg Payment", shops_path(sort_avg_payments: 'desc', month: @month_param), style: 'text-decoration: none; color: black' %> </th>
      <% else %>
        <th><%= link_to "Avg Payment", shops_path(sort_avg_payments: 'asc', month: @month_param), style: 'text-decoration: none; color: black' %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.display_name %></td>
        <td><%= shop.activated_on.strftime('%B %Y') %></td>
        <td>
        <span class="badge bg-success">$</span>
        <%= number_with_delimiter(shop.total_earnings) %></td>
        <td><%= shop.total_number_of_payments %></td>
        <td>
        <span class="badge bg-success">$</span>
        <%= shop.average_payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>