<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        (in months)
      </th>

      <% (@data.size+1).times do |i| %>
        <th>
          <%= i %>
        </th>
      <% end %>

    </tr>
  </thead>

  <% @data.each do |month, values| %>

    <% start = values[0] %>

    <tr>
      <td>
        <%= month.strftime('%b %Y') %> <br/>

        <%= link_to shops_path(month: month) do %>
          <%= start %> customers
        <% end %>
      </td>

      <% (values.size-1).times do |i| %>
        <% percentage = (values[i+1].to_f/start.to_f) %>
        <% displayed_percentage = (percentage * 100.00).round(0) %>
        <td <%= "style=background-color:rgba(38,194,129,#{percentage.round(2)})" %>>
            <%= "#{displayed_percentage}%" %>
        </td>
      <% end %>
    </tr>

  <% end %>


</table>