<div class="container-xl">
  <%# <%= link_to 'trigger', trigger_user_path(@user) %>

  <% if @plan != 1 %>
    <%= link_to 'https://buy.stripe.com/14kcO74EE6rdabu8wx' do %>
      <button type="button" class="btn btn-outline-primary">
        Subscribe
      </button>
    <% end %>
    <br>
    <br>
    <p>-> Unlimited apps</p>
    <p>-> Data since 2010</p>
    <p>-> Cohort analysis</p>
    <p>-> New MRR per month</p>
    <p>-> Churn data per month</p>
    <p>-> Churn MRR per month</p>
    <p>-> Churned customers (earnings, subscription and churn date...)</p>
    <p>-> Shops data fully encrypted</p>
    <p>-> For each customer and ex-customer: Total earnings, subscription date and their current state (active/churned)</p>
    <%= link_to 'https://buy.stripe.com/14kcO74EE6rdabu8wx' do %>
      <button type="button" class="btn btn-outline-primary">
        Subscribe
      </button>
    <% end %>
  <% elsif false && @access_token.present? && @organisation_provider_id.present? %>
    <br>
    <br>
    Apps: <%= @apps.pluck(:name).to_s %>
    <br>
    <br>
    Plans: <%= @plans.pluck(:id, :amount, :name).to_s %>
    <br>
    <br>
    Shops: <%= @shops.pluck(:name).to_s %>
    <br>
    <br>
    Transactions: <%= @transactions.pluck(:gross_amount).to_s %>
    <br>
    <br>
    Events: <%= @events.pluck(:event_type, :gross_amount).to_s %>
  <% else %>
    <div class="row">
      <div class="col-12">
        <h1>Welcome!</h1>
        <h5>First, please give us access to your Partner admin:</h5>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-md-6">
        <%= form_with(url: user_path(@user), method: "put") do %>
          <div class="mb-3">
            <label for="organisationId" class="form-label">Organisation ID</label>
            <input type="text" class="form-control" id="organisationId" 
              name=user[organisation_provider_id] aria-describedby="emailHelp"
              value="<%= @organisation_provider_id %>"
            >
            <div id="orgIdHelp" class="form-text">Found in your Shopify Partner dashboard URL:</div>
            <%= image_tag("url_org_id.png", width: '400') %>
          </div>
          <div class="mb-3">
            <label for="token" class="form-label">Access Token</label>
            <input type="text" class="form-control" id="token" name=user[access_token]
              value="<%= @access_token %>"
            >
            <div id="tokenHelp" class="form-text">Create it in Settings >> Manage Partner API Clients >> Create API Client</div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>